* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #464646;
  letter-spacing: 0.5px;
}

p {
  line-height: 28px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: 60px;
}

h2 {
  font-weight: 600;
}

h4 {
  font-weight: 500;
}

button {
  border: none;
  height: 45px;
  padding: 3px 25px;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}

img {
  width: 100%;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.section-padding {
  padding: 30px 80px;
}

.bg-primary {
  background-color: #464646;
}

.bg-secondary {
  background-color: #FF5252;
}

.bg-white {
  background-color: #ffffff;
}

.bg-light {
  background-color: #fff8f8;
}

.text-secondary {
  color: #FF5252
}

.text-primary {
  color: #464646;
}

.text-white {
  color: #FFFFFF
}

.text-center {
  text-align: center;
}

nav {
  display: flex;
  gap: 50px;
}

nav a {
  font-weight: 500;
  cursor: pointer;
  transition: color 0.5s ease;
}

nav a:hover {
  color: #FF5252;
}

.logo-name {
  font-weight: 700;
  font-size: 30px;
}

.hero {
  min-height: 800px;
  gap: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero img {
  width: 100%;
}

.mb {
  margin-bottom: 20px;
}

#intro {
  width: 600px;
}

#portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
}

.images-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5px;
  column-gap: 10px;
}

.images-grid img {
  border-radius: 5px;
}

.portfolio-item {
  cursor: pointer;
}

.resume-item {
  padding: 40px;
  border-radius: 20px;
  max-width: 1200px;
  margin: 20px auto;
}

.portfolio-item .description {
  position: absolute;
  bottom: 20px;
  left: 40px;
  right: 40px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.portfolio-item:hover .description {
  opacity: 1;
}

.contact-form {
  width: 700px;
  margin: 30px auto;
  min-height: 100px;
  border-radius: 10px;
}

.contact-form label, .contact-form input, .contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  outline: none;
  border-radius: 3px;
  border: none;
}

.contact-form input {
  height: 40px;
  padding: 0 10px;
}

.contact-form textarea {
  height: 130px;
  padding: 0 10px;
}